			<div class="panel panel-success" ng-controller='AppCtrl'>
				<div class="panel-heading">
					<h3>Using Matside Stats</h3>
				</div>
				<div class="panel-body">
					Matside stats is a tool for maintaining wrestling stats for individuals and teams.
				</div>
			</div> 
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3>How it works</h3>
				</div>
				<div class="panel-body">
					<ol>
						<li>Easily register with an email address and password</li>
						<li>Enter a few team details</li>
						<li>Enter your wrestlers</li>
						<li>Enter the tournament or dual meet</li>
						<li>Add an opponent to your wrestler and start the match</li>
						<li>Track the match live using your cell phone or tablet</li>
						<li>When the match is done each point scored has been saved for later review</li>
					</ol>
				</div>
			</div> 
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3>Tracking stats</h3>
				</div>
				<div class="panel-body">
					<ul>
						<li>The tracker is currently only setup for folk style scoring.  
						<li>Each time a point is scored the tracker disables points that are not available any longer.</li>
					</ul>
				</div>
			</div> 
