<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">

    <!-- [portable options] -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- [SEO] -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Lukas Postulka, http://themeforest.net/user/lukepostulka">

    <title>Gamma - Mobile Premium Template</title>

    <!-- [loading stylesheets] -->
    <link type="text/css" rel="stylesheet" href="css/style.css" />

    <!-- [loading stylesheets] -->
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <link type="text/css" rel="stylesheet" href="css/flexslider.css" />

    <!-- [loading scripts] -->

    <script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="js/jquery.touchswipe.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    </head>

    <body>

    	<section id="page-wrapper">

        	<section id="menu-wrapper">

                <div id="menu-search">
                	<input id="menu-search-input-text" type="text" placeholder="Search..." />
					<input id="menu-search-input-submit" type="submit" value="" />
                </div>

                <ul class="menu">

                    <li class="icon home">
                        <a href="index.html">
                            <span class="menu-li-title">Home</span>
                            <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" />
                        </a>
                    </li>

                    <li class="icon box">
                        <a href="portfolio.html">
                            <span class="menu-li-title">Portfolio</span>
                            <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" />
                        </a>
                    </li>

                    <li class="icon info">
                        <a href="aboutus.html">
                            <span class="menu-li-title">About us</span>
                            <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" />
                        </a>
                    </li>

                    <li id="a-submenu-1" class="icon plus">

                        <a href="#">
                            <span class="menu-li-title">Features</span>
                            <img class="menu-li-arrow-submenu" src="img/icons/submenu.png" alt="" />
                        </a>

                        <ul id="submenu-1">
                        	<li>
                                <a href="index.html">
                                    <span class="menu-li-title">Slider</span>
                                    <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" />
                                </a>
                            </li>

                            <li>
                                <a href="index.html">
                                    <span class="menu-li-title">Sidebar Menu</span>
                                    <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" />
                                </a>
                            </li>
                        </ul>

                    </li> <!-- #submenu-1 -->

                    <li class="icon blog">
                        <a href="blog.html">
                            <span class="menu-li-title">Blog</span>
                            <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" />
                        </a>
                    </li>

                    <li class="icon book">
                        <a href="typography.html">
                            <span class="menu-li-title">Typography</span>
                            <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" />
                        </a>
                    </li>

                    <li class="icon mail">
                        <a href="contact.php">
                            <span class="menu-li-title">Contact</span>
                            <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" />
                        </a>
                    </li>

                    <li class="icon star">
                        <a href="http://themeforest.net/user/lukepostulka/portfolio">
                            <span class="menu-li-title">Buy Gamma</span>
                            <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" />
                        </a>
                    </li>

                </ul> <!-- .menu -->

            </section> <!-- #menu-wrapper -->

            <section id="sidebar-wrapper">

            	<h4 id="sidebar-title">Second sidebar</h4>

                <div class="widget">
                	<h4>Text widget support</h4>
            		<p>This sidebar is widget ready. You can place here anything you want to - contact form, latest posts, newsletter subscribtion, categories, featured authors, best products for this month - it's completly up to you!</p>
                </div>

                <div class="widget">
                	<h4>Latest posts widget</h4>
                    <ul>
                        <li class="item"><a href="#">Let's talk about design</a></li>
                        <li class="item"><a href="#">Random blog title which is quite long so it makes three lines</a></li>
                        <li class="item"><a href="#">Follow me on ThemeForest</a></li>
                        <li class="item"><a href="#">Use colors! Everywhere!</a></li>
                    </ul>
                </div>

                <div class="widget">
                	<h4>Contact widget</h4>
                    <ul>
                        <li class="item"><a href="tel:45132141567">Call us</a></li>
                        <li class="item"><a href="mailto:yourmail@company.cc">Mail to us</a></li>
                        <li class="item"><a href="http://maps.google.ca/maps?f=q&source=s_q&hl=en&geocode=&q=New+York&sll=49.891235,-97.15369&sspn=47.259509,86.923828&ie=UTF8&hq=&hnear=New+York,+United+States&ll=40.714867,-74.005537&spn=0.019517,0.018797&z=14&iwloc=near&output=embed">Visit us</a></li>
                    </ul>
                </div>

                <div class="widget">
                	<h4>Share widget</h4>
                    <ul class="social">

                        <li class="blogger"><a href="#"><img src="http://placehold.it/64x64" alt="" /></a></li>
                        <li class="wordpress"><a href="#"><img src="http://placehold.it/64x64" alt="" /></a></li>
                        <li class="thumblr"><a href="#"><img src="http://placehold.it/64x64" alt="" /></a></li>
                        <li class="html"><a href="#"><img src="http://placehold.it/64x64" alt="" /></a></li>

                        <!-- find the right icons at https://github.com/joshuasortino/Publicons -->

                    </ul>
                </div>

            </section> <!-- #sidebar-wrapper -->

        	<section id="content-wrapper">

                <section id="header">

                    <div id="header-left">
                        <a href="#" id="a-menu"><img src="img/icons/menu.png" alt="menu" /></a>
                    </div>

                    <div id="header-title">
                        <h1>Blog</h1>
                    </div>

                    <div id="header-right">
                        <a href="#" id="a-sidebar"><img src="img/icons/menu.png" alt="Sidebar" /></a>
                    </div>

                </section> <!-- #header -->

            	<div class="blog-post">
                	<img src="http://placehold.it/550x700" alt="Blog image" class="fullwidth" />
                	<div class="wrapper">
                    	<span class="post-date">27 JUNE 2013, 14:13</span>
                        <h2 class="blog-post-title">Let's talk about design</h2>
                        <p>There are dozens of design studios but every one of them are different. We're <strong>trying</strong> to be even more different than the others. This blog article is perfect example of using maximum of given space and showing your visitors the very best from your company or <a href="#">personal site</a>.</p>
                        <p><a href="#"><input type="button" value="Read More" /></a></p>
                    </div>
                    <div class="blog-meta">
                    	<img src="http://placehold.it/80x80" alt="Avatar" />
                        <h4 class="blog-meta-author"><a href="#">lukepostulka</a></h4>
                        <span>Category: <a href="#">Reviews</a>, <a href="#">Mobile</a></span>
                    </div> <!-- .blog-meta -->
                </div> <!-- .blog-post #1 -->

                <div class="blog-post">
                	<img src="http://placehold.it/550x700" alt="Blog image" class="fullwidth" />
                	<div class="wrapper">
                    	<span class="post-date">27 JUNE 2013, 14:13</span>
                        <h2 class="blog-post-title">Random blog title which is quite long so it makes three lines</h2>
                        <p><strong>Lorem ipsum</strong> dolor sit amet, consectetur adipiscing elit.</p>
                        <p>Sed id auctor nisl. Praesent in leo diam. Fusce varius pretium lorem et fermentum. Fusce laoreet in odio id mollis. Nulla sed metus sem. Integer et consectetur dui. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                        <p><a href="#"><input type="button" value="Read More" /></a></p>
                    </div>
                    <div class="blog-meta">
                    	<img src="http://placehold.it/80x80" alt="Avatar" />
                        <h4 class="blog-meta-author"><a href="#">lukepostulka</a></h4>
                        <span>Category: <a href="#">Reviews</a>, <a href="#">Mobile</a></span>
                    </div> <!-- .blog-meta -->
                </div> <!-- .blog-post #2 -->

                <div class="blog-post">
                	<img src="http://placehold.it/550x700" alt="Blog image" class="fullwidth" />
                	<div class="wrapper">
                        <span class="post-date">27 JUNE 2013, 14:13</span>
                        <h2 class="blog-post-title">Follow me on ThemeForest</h2>
                        <p>Just click <a href="http://themeforest.net/user/lukepostulka/follow">here</a> and hit the big button.</p>
                        <p>Praesent ultrices nisl nisl, ac convallis erat rutrum sit amet.Suspendisse lacinia lectus ac tortor eleifend, vestibulum ultricies sem ultricies. Suspendisse pulvinar turpis nec purus placerat, nec lobortis nibh ultricies. Donec iaculis lacinia tortor, sed ornare ligula varius eget. Donec vitae lacinia quam.</p>
                        <p><a href="#"><input type="button" value="Read More" /></a></p>
                    </div>
                    <div class="blog-meta">
                    	<img src="http://placehold.it/80x80" alt="Avatar" />
                        <h4 class="blog-meta-author"><a href="#">lukepostulka</a></h4>
                        <span>Category: <a href="#">Reviews</a>, <a href="#">Mobile</a></span>
                    </div> <!-- .blog-meta -->
                </div> <!-- .blog-post #3 -->

                <div class="blog-post">
                	<img src="http://placehold.it/550x700" alt="Blog image" class="fullwidth" />
                	<div class="wrapper">
                        <span class="post-date">27 JUNE 2013, 14:13</span>
                        <h2 class="blog-post-title">Use colors! Everywhere!</h2>
                        <p>Nam aliquet massa at elementum consequat. Etiam nec consequat nunc. Nulla facilisi. Nulla viverra metus tellus. Nunc ultricies arcu mollis, eleifend orci in, accumsan nisi. Donec turpis nisi, tristique vitae velit quis, tempor laoreet nisl. Sed et magna arcu. Nulla gravida eget turpis nec condimentum.</p>
                        <p><a href="#"><input type="button" value="Read More" /></a></p>
                    </div>
                    <div class="blog-meta">
                    	<img src="http://placehold.it/80x80" alt="Avatar" />
                        <h4 class="blog-meta-author"><a href="#">lukepostulka</a></h4>
                        <span>Category: <a href="#">Reviews</a>, <a href="#">Mobile</a></span>
                    </div> <!-- .blog-meta -->
                </div> <!-- .blog-post #4 -->

            <section id="footer">
                    <div id="footer-left">
                        <span>&copy; Copyright 2013</span>
                    </div>

                    <div id="footer-right">
                        <span>Gamma Mobile Template</span>
                    </div>
                </section> <!-- #footer -->

            </section> <!-- #content-wrapper -->
    	</section> <!-- #page-wrapper -->
    </body>
</html>