<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">

    <!-- [portable options] -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- [SEO] -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Lukas Postulka, http://themeforest.net/user/lukepostulka">

    <title>Gamma - Mobile Premium Template</title>

    <!-- [loading stylesheets] -->
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <link type="text/css" rel="stylesheet" href="css/portfolio-default.css" />
    <link type="text/css" rel="stylesheet" href="css/portfolio-component.css" />

     <!-- [loading fonts] -->
    <script src="http://use.edgefonts.net/istok-web.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,700italic,400italic' rel='stylesheet' type='text/css'>

    </head>

    <body>

    	<section id="page-wrapper">

        	<section id="menu-wrapper">

                <div id="menu-search">
                	<input id="menu-search-input-text" type="text" placeholder="Search..." />
					<input id="menu-search-input-submit" type="submit" value="" />
                </div>

                <ul class="menu">

                    <li class="icon home">
                        <a href="index.html">
                            <span class="menu-li-title">Home</span>
                            <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" />
                        </a>
                    </li>

                    <li class="icon box">
                        <a href="portfolio.html">
                            <span class="menu-li-title">Portfolio</span>
                            <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" />
                        </a>
                    </li>

                    <li class="icon info">
                        <a href="aboutus.html">
                            <span class="menu-li-title">About us</span>
                            <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" />
                        </a>
                    </li>

                    <li id="a-submenu-1" class="icon plus">

                        <a href="#">
                            <span class="menu-li-title">Features</span>
                            <img class="menu-li-arrow-submenu" src="img/icons/submenu.png" alt="" />
                        </a>

                        <ul id="submenu-1">
                        	<li>
                                <a href="index.html">
                                    <span class="menu-li-title">Slider</span>
                                    <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" />
                                </a>
                            </li>

                            <li>
                                <a href="index.html">
                                    <span class="menu-li-title">Sidebar Menu</span>
                                    <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" />
                                </a>
                            </li>
                        </ul>

                    </li> <!-- #submenu-1 -->

                    <li class="icon blog">
                        <a href="blog.html">
                            <span class="menu-li-title">Blog</span>
                            <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" />
                        </a>
                    </li>

                    <li class="icon book">
                        <a href="typography.html">
                            <span class="menu-li-title">Typography</span>
                            <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" />
                        </a>
                    </li>

                    <li class="icon mail">
                        <a href="contact.php">
                            <span class="menu-li-title">Contact</span>
                            <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" />
                        </a>
                    </li>

                    <li class="icon star">
                        <a href="http://themeforest.net/user/lukepostulka/portfolio">
                            <span class="menu-li-title">Buy Gamma</span>
                            <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" />
                        </a>
                    </li>

                </ul> <!-- .menu -->

            </section> <!-- #menu-wrapper -->

            <section id="sidebar-wrapper">

            	<h4 id="sidebar-title">Second sidebar</h4>

                <div class="widget">
                	<h4>Text widget support</h4>
            		<p>This sidebar is widget ready. You can place here anything you want to - contact form, latest posts, newsletter subscribtion, categories, featured authors, best products for this month - it's completly up to you!</p>
                </div>

                <div class="widget">
                	<h4>Latest posts widget</h4>
                    <ul>
                        <li class="item"><a href="#">Let's talk about design</a></li>
                        <li class="item"><a href="#">Random blog title which is quite long so it makes three lines</a></li>
                        <li class="item"><a href="#">Follow me on ThemeForest</a></li>
                        <li class="item"><a href="#">Use colors! Everywhere!</a></li>
                    </ul>
                </div>

                <div class="widget">
                	<h4>Contact widget</h4>
                    <ul>
                        <li class="item"><a href="tel:45132141567">Call us</a></li>
                        <li class="item"><a href="mailto:yourmail@company.cc">Mail to us</a></li>
                        <li class="item"><a href="http://maps.google.ca/maps?f=q&source=s_q&hl=en&geocode=&q=New+York&sll=49.891235,-97.15369&sspn=47.259509,86.923828&ie=UTF8&hq=&hnear=New+York,+United+States&ll=40.714867,-74.005537&spn=0.019517,0.018797&z=14&iwloc=near&output=embed">Visit us</a></li>
                    </ul>
                </div>

                <div class="widget">
                	<h4>Share widget</h4>
                    <ul class="social">

                        <li class="blogger"><a href="#"><img src="http://placehold.it/64x64" alt="" /></a></li>
                        <li class="wordpress"><a href="#"><img src="http://placehold.it/64x64" alt="" /></a></li>
                        <li class="thumblr"><a href="#"><img src="http://placehold.it/64x64" alt="" /></a></li>
                        <li class="html"><a href="#"><img src="http://placehold.it/64x64" alt="" /></a></li>

                        <!-- find the right icons at https://github.com/joshuasortino/Publicons -->

                    </ul>
                </div>

            </section> <!-- #sidebar-wrapper -->

        	<section id="content-wrapper">

                <section id="header">

                    <div id="header-left">
                        <a href="#" id="a-menu"><img src="img/icons/menu.png" alt="menu" /></a>
                    </div>

                    <div id="header-title">
                        <h1>Portfolio</h1>
                    </div>

                    <div id="header-right">
                        <a href="#" id="a-sidebar"><img src="img/icons/menu.png" alt="Sidebar" /></a>
                    </div>

                </section> <!-- #header -->

        	<section id="content">

            <div class="wrapper">
            	<span class="post-date">27 JUNE 2013, 14:13</span>
            	<h2>Beautiful way to show your work</h2>
                <p>Template includes amazing jQuery plugin for making portfolios. It's realy simple and all described in help file. So give it a try!</p>
            </div>

            <ul id="og-grid" class="og-grid">
				<li>
					<a href="#" data-largesrc="http://placehold.it/640x300" data-title="Lorem ipsum dolor sit amet" data-description="<p>Praesent nec sapien non enim pretium elementum ac ac mi. Pellentesque elit ipsum, gravida auctor eleifend quis, sodales eget dui. Phasellus cursus, erat congue bibendum euismod, felis felis imperdiet eros, et viverra dolor dui vel mauris.</p>">
						<img src="http://placehold.it/405x285" alt=""/>
					</a>
				</li>

                    <li>
						<a href="#" data-largesrc="http://placehold.it/640x300" data-title="Morbi iaculis tempor nisi" data-description="Fusce diam ligula, porttitor eu feugiat vitae, tincidunt condimentum nulla. Nam sagittis, justo quis posuere placerat, urna felis fringilla augue, id lacinia nibh arcu non erat. Donec et ante dapibus magna consectetur auctor a in neque.">
							<img src="http://placehold.it/405x285" alt=""/>
						</a>
					</li>

                    <li>
						<a href="#" data-largesrc="http://placehold.it/640x300" data-title="Morbi iaculis tempor nisi" data-description="Pellentesque eu mattis sem. Etiam rhoncus tellus vitae mi porttitor, blandit placerat dui mollis. Etiam eu ligula lacinia, faucibus neque vel, suscipit diam. Etiam mollis ante quis sem posuere mollis.">
							<img src="http://placehold.it/405x285" alt=""/>
						</a>
					</li>

                    <li>
						<a href="#" data-largesrc="http://placehold.it/640x300" data-title="Morbi iaculis tempor nisi" data-description="Aliquam felis risus, gravida mattis porta quis, vulputate non justo. Suspendisse vulputate est eu purus vestibulum ornare. Ut ac tristique ligula.">
							<img src="http://placehold.it/405x285" alt=""/>
						</a>
					</li>

                    <li>
						<a href="#" data-largesrc="http://placehold.it/640x300" data-title="Morbi iaculis tempor nisi" data-description="Aliquam felis risus, gravida mattis porta quis, vulputate non justo. Suspendisse vulputate est eu purus vestibulum ornare. Ut ac tristique ligula. Aliquam tellus purus, scelerisque rhoncus velit sit amet, tristique tempor sapien.">
							<img src="http://placehold.it/405x285" alt=""/>
						</a>
					</li>

              	<li>
					<a href="#" data-largesrc="http://placehold.it/640x300" data-title="Morbi iaculis tempor nisi" data-description="Aliquam felis risus, gravida mattis porta quis, vulputate non justo. Suspendisse vulputate est eu purus vestibulum ornare. Ut ac tristique ligula.">
						<img src="http://placehold.it/405x285" alt=""/>
					</a>
				</li>
			</ul>

            <div class="wrapper">
            	<h2>Super-easy to set up</h2>
                <p>I choose this jQuery plugin especialy for easy usage. Now I show you this example code which is used above:</p>
                <p><pre>&lt;ul id="og-grid" class="og-grid">

&lt;li>
  &lt;a href="<b><u>URL</u></b>"
   data-largesrc="<b><u>large.jpg</u></b>"
   data-title="<b><u>Title</u></b>"
   data-description="<b><u>desc.</u></b>">
   &lt;img src="<b><u>thumbnail.jpg</u></b>" alt=""/>
  &lt;/a>
&lt;/li>

&lt;/ul></pre></p>
			<p>So that's it! Just replace URLs, titles, descriptions with your own values and you are ready to go! You can find more in documentation file.</p>
            </div>

            <section id="footer">
            	<div id="footer-left">
           			<span>&copy; Copyright 2013</span>
            	</div>

            	<div id="footer-right">
                	 <span>Gamma Mobile Template</span>
            	</div>
       		</section> <!-- #footer -->

            </section> <!-- #content-wrapper -->
    	</section> <!-- #page-wrapper -->

         <!-- [loading scripts] -->
        <script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="js/jquery.touchswipe.min.js"></script>
		<script type="text/javascript" src="js/modernizr.custom.js"></script>
        <script type="text/javascript" src="js/grid.js"></script>
        <script type="text/javascript" src="js/main.js"></script>

        <script>
            var $ = jQuery.noConflict();
                $(window).load(function() {
                    Grid.init();
                });
        </script>

    </body>
</html>