<!DOCTYPE html>
<html>
<head>
    <!-- [portable options] -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="stylesheet" href="/static/css/bootstrap.css" />
	<link rel="stylesheet" href="/static/css/trackmatch.css" />
	<title>
		Matside Stats
	</title>
</head>
<body>
		<div id="layover"></div>
		<div id="top-layover"></div>
		<div class="containter">
			<div class="row" style="height: 42px; color: #fff; background-color: #000;">
				<div class="col-xs-5">
					<div class="title-name text-left">{{ wrestler.name }}</div>
				</div>
				<div class="col-xs-2">
					<div class=text-center"> vs.</div>
				</div>
				<div class="col-xs-5">
					<div class="text-right"> {{ opponent }}</div>
				</div>
				<div class="col-xs-12">
					<div class="text-center"> <a href="#" id="endmatch">End Match</a></div>
				</div>
			</div>
			</div>
			<div class="container">
				<div class="row">
					<div style="float:left;width:50%;" id="match_info">
						<div id="minus-period">-</div><div id=period_label></div><div id="period">1</div><div id="add-period">+</div>
					</div>
					<div style="float:left;width:40%;" id="time_info">
						<i class="glyphicon glyphicon-time"></i><div id="time">02:00</div>
						<div id="undo" style="cursor: pointer;float:right;"><i class="glyphicon glyphicon-exclamation-sign"></i>Undo</div>
					</div>
				</div>
			</div>
			<div style="clear:both;"></div>
			<div style="float:left;width:48%;" class="wrestler1 points1">
				<input type="text" name="green" value="0" style="width:30%;margin-bottom: 20px;height:50px;text-align:center;font-size:40px;" />
				<button ptvalue="stall1" style="height:50px;width:30%;" class="btn btn-danger stall1">stall</button>
				<button ptvalue="1" style="height:50px;width:25%;" class="btn btn-danger stall1">P1</button>
				<button name="T-green" ptvalue="2" style="margin:0 0 10px;height:40px;width:100%;" class="btn btn-primary">T2</button>
					<button name="E-green" ptvalue="1" style="margin:0 0 10px;height:40px;width:48%;" class="btn btn-primary">E1</button>
					<button name="R-green" ptvalue="2" style="margin:0 0 10px;height:40px;width:48%;" class="btn btn-warning">R2</button>

				<button name="N-green" ptvalue="2" style="margin:0 3px 10px;height:40px;width:48%;float:right;" class="btn btn-primary">N2</button>
				<button name="N-green" ptvalue="3" style="margin:0 0 10px;height:40px;width:48%;float:right;" class="btn btn-primary">N3</button>
				<button ptvalue="fall1" style="margin:0 0 10px;height:40px;width:100%;" class="btn btn-danger">Fall</button>
			</div>
			<div style="float:left;width:48%;margin-left:10px;" class="wrestler2 points2">
				<input type="text" name="red" value="0" style="width:30%;margin-bottom: 20px;height:50px;text-align:center;font-size:40px;" />
				<button ptvalue="stall2" style="height:50px;width:30%;" class="btn btn-danger stall2">stall</button>
				<button ptvalue="1" style="height:50px;width:25%;" class="btn btn-danger stall2">P1</button>
				<button name="T-red" ptvalue="2" style="margin:0 0 10px;height:40px;width:100%;" class="btn btn-primary">T2</button>
					<button name="E-red" ptvalue="1" style="margin:0 0 10px;height:40px;width:48%;" class="btn btn-primary">E1</button>
					<button name="R-red" ptvalue="2" style="margin:0 0 10px;height:40px;width:48%;" class="btn btn-warning">R2</button>

					<button name="N-red" ptvalue="2" style="margin:0 0 10px;height:40px;width:48%;float:left;" class="btn btn-primary">N2</button>
					<button name="N-red" ptvalue="3" style="margin:0 3px 10px;height:40px;width:48%;float:left;" class="btn btn-primary">N3</button>
				<button ptvalue="fall2" style="margin:0 0 10px;height:40px;width:100%;" class="btn btn-danger">Fall</button>
			</div>
		</div>
</body>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script type="text/javascript">
	/* Below are Global Vars */
	var count=120;
	var runtime='stop';
	var stall_warn1 = 0;
	var stall_warn2 = 0;
	var undo = 0;


	/* End Global Vars */

	function resize_stuff(){
		//window.innterHeight
		curHeight = window.innerHeight;
		curWidth = window.outerWidth; //innerWidth doesn't change from its inital value on Chrome for android HTC EVO 4g lte
		buttonpixheight = curHeight/8;
		buttonfontsize = buttonpixheight/2;
		if (curWidth < 640) { small_divider = 4 } else { small_divider = 3 };
		smallbuttonfont = buttonpixheight/small_divider;
		$(".btn").css("height", buttonpixheight+"px");
		$("input").css("height", buttonpixheight+"px");
		$("input").css("width", "30%");
		$(".btn").css("font-size", buttonfontsize+"px");
		$("input").css("font-size", buttonfontsize+"px");
		$(".stall1, .stall2").css("font-size", smallbuttonfont+"px");
		$("#minus-period, #period, #add-period, .settings-icon").css("font-size", buttonfontsize+"px");
		$("#undo, #period_label").css("font-size", buttonfontsize/2+"px");
		$("#time").css("font-size", buttonfontsize+"px");
	}

	var counter=setInterval(timer, 1000); //1000 will  run it every 1 second

	function start_timer(){
		var counter=setInterval(timer, 1000); //1000 will  run it every 1 second
	}

	function timer()
	{
		if (runtime!="stop"){
			$("#time").css("color","#AADD00");
			count=count-1;
			if (count <= 0){
				if (count == 0){
					//move to next period and reset clock
					$("#add-period").click();
					runtime="stop";
					count=120;
				} else {
				   clearInterval(counter);
					//counter ended, do something here
					return;
				}
			}
			minutes = count/60;
			if (minutes < 1){ minutes = 0 }
			minutes = parseInt(minutes);
			seconds = count%60;
			if (seconds < 10){ seconds = "0"+seconds; }
			time_left = "0"+minutes+":"+seconds;
			$("#time").html(time_left);
		} else {
			$("#time").css("color","#990000");
		}

	  //Do code for showing the number of seconds here
	}
	window.addEventListener("resize", function() {
		resize_stuff();
	}, false);

function manage_fall(period, color, ptvalue) {
	$.ajax({
		type:"post",
		url:"/addpoints/{{ match_id }}/",
		async: true,
		data:"period="+period+"&color="+color+"&pointcode=F&points=0",
		success: function(msg){
			window.location.href="http://www.matsidestats.com/view_match/{{ match_id }}/";
		}
	})
}

function manage_stall_warning(ptvalue) {
	if (ptvalue=="stall1"){
		stall_warn1+=1;
		if (stall_warn1>=2){
			if (stall_warn1 > 3){stall_increment=2} else {stall_increment=1};
			curr_val = $(".wrestler2 input").val();
			if (curr_val==""){curr_val=0};
			new_val = parseInt(curr_val)+stall_increment;
			$(".wrestler2 input").val(new_val);
		}
	} else if (ptvalue=="stall2"){
		stall_warn2+=1;
		if (stall_warn2>=2){
			if (stall_warn2 > 3){stall_increment=2} else {stall_increment=1};
			curr_val = $(".wrestler1 input").val();
			if (curr_val==""){curr_val=0};
			new_val = parseInt(curr_val)+stall_increment;
			$(".wrestler1 input").val(new_val);
		}
	}
}

function manage_ui(ptcode, color){
	// Disable buttons under certain circumstances

	// ========= Take Down ===========
		if (ptcode == "T-green"){
			//self
			$("button[name~='E-green']").attr("disabled", true); 
			$("button[name~='R-green']").attr("disabled", true); 
			$("button[name~='T-green']").attr("disabled", true); 
			$("button[name~='N-green']").attr("disabled", false);
			//opponent
			$("button[name~='T-red']").attr("disabled", true);
			$("button[name~='N-red']").attr("disabled", true);
			$("button[name~='R-red']").attr("disabled", false);
			$("button[name~='E-red']").attr("disabled", false);
		}
		if (ptcode == "T-red"){
			//self
			$("button[name~='E-red']").attr("disabled", true); 
			$("button[name~='R-red']").attr("disabled", true); 
			$("button[name~='T-red']").attr("disabled", true); 
			$("button[name~='N-red']").attr("disabled", false);
			//opponent
			$("button[name~='T-green']").attr("disabled", true);
			$("button[name~='N-green']").attr("disabled", true);
			$("button[name~='R-green']").attr("disabled", false);
			$("button[name~='E-green']").attr("disabled", false);
		}

		// =========== Reversal ================
		if (ptcode == "R-red"){ 
			manage_ui("T-red", "red");
		} else if (ptcode == "R-green"){
			manage_ui("T-green", "green");
		}
		// =========== Escape =================
		if (ptcode == "E-red" || ptcode == "E-green"){
			 $("button").attr("disabled", false);
			 manage_ui_neutral();
		 }

}

function manage_ui_neutral(){
		// ========= Neutral ============
	$("button[name~='R-red']").attr("disabled", true);
	$("button[name~='R-green']").attr("disabled", true);
	$("button[name~='N-red']").attr("disabled", true);
	$("button[name~='N-green']").attr("disabled", true);
	$("button[name~='E-red']").attr("disabled", true);
	$("button[name~='E-green']").attr("disabled", true);
}
	// If T2 then remove r2 of current wreslter == Opponent loses T2 / N2 / N3
	$(document).ready(function(){
		// Guys are netureal
			manage_ui_neutral();

		// if the endmatch link is clicked
		$("#endmatch").click(function(e){
			e.preventDefault();
			$.ajax({
				type: "POST",
				url: "/endmatch/",
				data: "match_id=" + {{ match_id }},
				success: function(result){
					if (result=="success"){
						window.location.href = "/teamview";
					}
				}
			});
		});

		$("#myPeriodChoice").click(function(){
			
		});
			
		$("#time").click(function(){
			if (runtime=="stop"){
				runtime='run';
			} else {
				runtime='stop';
			}
		});

		$('body').on('swipeleft swiperight',function(event){
			    if (event.type == "swiperight") {
				     alert("swipped right side");
				}
				if (event.type == "swipeleft") {
					 alert("swipped left side");
					 event.preventDefault();
				}
		});

		resize_stuff();

		$("#undo").click(function(){
			if (undo){
				$("#undo").css("color", "black");
				undo=0;
			}else{
				$("#undo").css("color", "red");
				undo=1;
			}
		});
		$("#settings-icon").click(function(){

			//add layover and the stuff that goes with it.

		});

		$("button").click(function(){
			var button_action = new Array('fall1', 'fall2', 'stall1','stall2')
			ptvalue = $(this).attr("ptvalue");
			if (button_action.indexOf(ptvalue) >= 0){
				inpt = $(this).parent().find("input")
				period = $("#period").html()
				color = inpt.attr("name");
				switch (ptvalue){
					case "stall1":
						manage_stall_warning(ptvalue);
						break;
					case "stall2":
						manage_stall_warning(ptvalue);
						break;
					case "fall1":
						manage_fall(period, color, ptvalue);
						break;
					case "fall2":
						manage_fall(period, color, ptvalue);
						break;
				}
			} else {
				inpt = $(this).parent().find("input")
				current_value = inpt.val();
				if (current_value==""){current_value=0};
				if (undo){ptvalue*=-1;}
				new_value = parseInt(ptvalue)+parseInt(current_value);
				inpt.val(new_value);
				color = inpt.attr("name");
				pointcode = $(this).html()[0]
				period = $("#period").html()
				var ptname = $(this).attr("name");
				manage_ui(ptname, color);
				$.ajax({
					type:"post",
					url:"/addpoints/{{ match_id }}/",
					async: true,
					data:"period="+period+"&color="+color+"&pointcode="+pointcode+"&points="+ptvalue,
				})
			}
		});


		$("#add-period").click(function(){
			current_val = parseInt($("#period").html());
			new_val = current_val+1;
			$("#period").html(new_val);
		});
		$("#minus-period").click(function(){
			current_val = parseInt($("#period").html());
			new_val = current_val-1;
			$("#period").html(new_val);
		});
	});

</script>
</html>
